<%= render 'shared/content_title', title: "New Category" %>
<%= render 'shared/errors', obj: @category %>

<div class="row">
  <div class="well col-xs-4">  
  <%= form_for @category do |f| %>   
   <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'  %>
    </div>
    <%=f.submit 'create category', class: 'btn btn-success' %>
  <% end %>
  </div>
</div>
